<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <include file="$(find ublox_gps)/launch/ublox_device.launch">
  </include>
  
  <node pkg="ntrip_ros" type="ntripclient1.py" name="ntrip_ros" output="screen">
 	 <param name="rtcm_topic" value="/ublox_gps/rtcm"/>
 	 <param name="ntrip_server" value="gnss.eseoul.go.kr:2101"/>
 	 <param name="ntrip_user" value="seoul"/>
 	 <param name="ntrip_pass" value="seoul"/>
 	 <param name="ntrip_stream" value="YONS-RTCM32-M5"/>
 	 <param name="nmea_gga" value="$GPGGA,141037.813,3718.057,N,12650.067,E,1,12,1.0,0.0,M,0.0,M,,*6A"/>
  </node>
</launch>

